@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@font-face {
  font-family: Futura;
  src: url(fonts/Futura-Bold.ttf);
}

@font-face {
  font-family: Gilroy;
  src: url(fonts/Gilroy-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Futura;
}
*::selection {
  color: #ffffff;
  background-color: #000;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* -----------------------------NAVIGATION---------------------------------- */
nav {
  position: fixed;
  z-index: 99;
  width: 100%;
  padding: 20px;
  background-color: transparent;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

nav .left {
  height: 83px;
  overflow: hidden;
}
nav .left svg {
  display: block;
}

nav .right  {
  display:flex;
  align-items: center;
  justify-content: center;
}

nav .links {
  font-weight: 100;
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}
nav .links a {
  font-size: 13px;
  font-family: Gilroy;
  font-weight: 100;
  text-decoration: none;
  color: #000;
  transition: all ease 0.3s;
}
nav .links a:hover {
  color: rgb(155, 152, 152);
}

.icons {
  margin-left: 70px;
  margin-right: 10px;
  display: flex;
  gap: 70px;
  background-color: #fff;
  padding: 8px 12px;
  border-radius: 20px;
}
.icons i {
font-size: 15px;
cursor: pointer;
transition: all ease 0.3s;
}
.icons i:first-child:hover {
  scale: 1.2;
}
.icons i:last-child:hover {
  transform: rotate(-10deg) scale(1.2);
}


/* -----------------------------MAIN PAGE---------------------------------- */
.main {
  padding: 3vw 1.5vw 0;
}

 .cursor {
    position: fixed;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 9;
    opacity: 0;
    pointer-events: none;
    /* transform: translate(-50%, -50%) scale(0); */
    background-color: rgba(255, 192, 203, 0.308);
 }

/* -----------------------------PAGE1---------------------------------- */
.page1 {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: #ffffff;
}

.page1 .heading {
  width: 100%;
  height: 100%;
  margin-top: 8vw;
  overflow: hidden;
  padding: 0 0 3px 0;
}

.page1 .heading h1 {
  font-size: 15.5vw;
  line-height: 13vw;
  letter-spacing: -0.5vw;
  text-transform: uppercase;
}

.page1 .heading div {
  display: flex;
  gap: 4vw;
}

.page1 .video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-top: 1vw;
}

.page1 .video-container .play {
  position: fixed;
  color: #ffffff;
  width: 7vw;
  height: 7vw;
  background-color: #000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.page1 .video-container .play p {
  letter-spacing: 0.1vw;
  font-size: 1.2vw;
}

.page1 .video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* -----------------------------PAGE2---------------------------------- */
.page2 {
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  position: relative;
}

.page2 .texts {
  margin-top: 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 0;
  border-bottom: 0.1vw solid #000000;
}
.texts p {
  font-size: 12.5px;
  font-weight: 100;
  font-family: Gilroy;
}

.page2 .elements {
  width: 100%;
  height: 100%;
  margin-top: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.elements .elem {
  width: 32.5%;
  height: 50vw;
  overflow: hidden;
  position: relative;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.elements .elem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.elements .elem .dets {
  /* width: 20vw; */
  width: 300px;
  height: 50px;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  cursor: pointer;
  overflow: hidden;
  transition: all ease 0.2s;
}

.elements .elem .dets:hover {
  top: 61.81%;
  height: 230px;
}

.dets .detsUp {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.detsUp p {
  font-family: Gilroy;
  font-size: 13px;
  color: #000000cc;
}
.detsUp p:nth-child(3) {
  font-weight: 600;
}
.detsUp p:nth-child(1) {
  font-size: 60px;
  margin-top: -35px;
}

.dets .detsDown {
  width: 100%;
  height: 180px;
  display: flex;
  gap: 5px;
}
.detsDown .product {
  height: 100%;
  width: 50%;
  padding: 3px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.detsDown .product img {
  width: 90px;
  height: 90px;
  object-fit: cover;
}
.detsDown .product p {
  font-family: Gilroy;
  font-size: 13px;
}

.elements .elem1 .dets {
  background-color: #e5f0d6;
}
.elements .elem2 .dets {
  background-color: #f5dfcf;
}
.elements .elem3 .dets {
  background-color: #ffffff;
}

.page2 .lowerTexts {
  width: 100%;
  display: flex;
  margin-top: 70px;
}

.lowerTexts .large {
  width: 67.5%;
  padding-right: 10vw;
}
.lowerTexts .large h1 {
  font-size: 55px;
  line-height: 57px;
}

.lowerTexts .small {
  width: 32.5%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 50px;
  padding-right: 100px;
  color: #000000c9;
}
.lowerTexts .small p {
  font-family: Gilroy;
  font-size: 17px;
  line-height: 23px;
}
.lowerTexts .small #button {
  cursor: pointer;
  font-size: 13px;
  letter-spacing: 1.5px;
  padding: 5px 0;
  border-bottom: 1px solid #000;
}

/* -----------------------------PAGE3---------------------------------- */
.page3 {
  width: 100%;
  min-height: 100vh;
  padding-top: 10vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.page3 .image {
  width: 46vw;
  height: 45vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.page3 .image img {
  width: 42vw;
}
#img1 {
  margin-bottom: 30px;
}
#img2 {
  height: 33.5vw;
}
.page3 .image p {
  font-family: Gilroy;
  font-size: 13px;
  margin-bottom: 5px;
  color: #000000cf;
}

/* #############################  RESPONSIVE  ###############################*/

@media screen and (max-width: 1050px) {
  /*Ipad pro*/

  /* ---------------------------PAGE1--------------------------- */
  .page1 {
    min-height: 70vh;
    padding: 12vw 2vw 0;
  }

  .page1 .video-container {
    width: 100%;
    height: 40vh;
  }

  /* ---------------------------PAGE2--------------------------- */
  .elements .elem {
    height: 65vw;
  }

  /* ---------------------------PAGE3--------------------------- */
  .page3 {
    min-height: 80vh;
    padding-top: 0vw;
  }
}

@media screen and (max-width: 850px) {
  /*Ipad mini*/

  /* ---------------------------PAGE1--------------------------- */
  .page1 {
    min-height: 70vh;
    padding: 25vw 0 0;
  }

  .page1 .video-container {
    width: 100%;
    height: 55vh;
  }

  /* ---------------------------PAGE2--------------------------- */
  .page2 .elements {
    margin-top: 1vw;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .elements .elem {
    width: 100%;
    height: 130vw;
  }

  .page2 .lowerTexts {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 35px;
  }

  .lowerTexts .large {
    width: 100%;
    padding-right: 0;
  }
  .lowerTexts .large h1 {
    font-size: 30px;
    line-height: 37px;
  }

  .lowerTexts .small {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-right: 0;
    gap: 30px;
    color: #000000c9;
  }
  .lowerTexts .small p {
    font-family: Gilroy;
    font-size: 17px;
    line-height: 23px;
  }
  .lowerTexts .small #button {
    cursor: pointer;
    font-size: 13px;
    letter-spacing: 1.5px;
    padding: 5px 0;
    border-bottom: 1px solid #000;
  }
}

@media screen and (max-width: 500px) {
  /*12pro max*/

  /* ---------------------------PAGE1--------------------------- */
  .page1 {
    min-height: 70vh;
    padding: 45vw 0 0;
  }

  .page1 .video-container {
    width: 100%;
    height: 45vh;
  }


  /* ---------------------------PAGE3--------------------------- */
  .page3 {
  min-height: 60vh;
  padding-top: 10vw;
}

.page3 .image {
  width: 40vw;
  height: 40vw;
}

.page3 .image img {
  width: 42vw;
}
.page3 .image p {
  font-size: 8px;
  margin-bottom: 5px;
}
}
